#message-editor {
  margin-top: 5%;
  border: 5px solid #0B162A;
  font-family: helvetica;
  font-size: 1.5em;
  outline: 0;
  border-radius: 0;
  padding: 2%;
  width: 100%;
}

button {
  margin-top: 1%;
  display: block;
  padding: 2%;
  background-color: chartreuse;
  border-radius: 10px;
  border: none;
  width: 100%;
}

.message-container {

  li {
    // width: 80%;
    background-color: white;
    display: block;
    margin: 0 auto;
    padding: 2%;
    border-bottom: 5px solid #0B162A;


    p {
      font-family: helvetica;
      font-size: 2em;
      color: #C83803;
    }
  }
}
