#message-editor {
  border: 5px solid #0B162A;
  font-family: helvetica;
  font-size: 1.5em;
  outline: 0;
  border-radius: 0;
  padding: 2%;
  width: 100%;
}

#subnav {
  height: 90vh;
  overflow: scroll;

  .teamsList {
    padding-top: 5%;
  }

  ul {

    li {
      list-style-type: none;
    }
  }
}

.header-copy {
  display: inline-block;
}


button {
  margin-top: 2%;
  margin-bottom: 1%;
  display: block;
  padding: 2%;
  background-color: #008CA8;
  border-radius: 10px;
  border: none;
  width: 100%;
  color: #fff;
  font-family: 'helvetica';
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;

  // &:hover {
  //   background-color: #007E97;
  // }
}

.message-box {
  height: 90vh;
  overflow: scroll;

  .message-container {
    padding-top: 1%;
    padding-bottom: 1%;

    li {
      width: 100%;
      // background-color: #ecf0f1;
      display: block;
      margin: 0 auto;
      padding: 2%;
      border-bottom: 1px solid lightgray;


      p {
        font-family: 'Merriweather';
        font-size: 1.5em;
        line-height: 3em;
        margin-top: -5px;
        // color: #008CA8;
      }
    }
  }
}

.timestamp {
  opacity: .7;
}
