#message-editor {
  z-index: 999;
  border: 2px solid #0B162A;
  font-family: helvetica;
  font-size: 1.5em;
  outline: 0;
  border-radius: 0;
  padding: 2%;
  background: #fff;
  height: 110px;
}

#subnav {
  height: 90vh;
  overflow: scroll;
  z-index: 999999;

  .teamsList {
    padding-top: 5%;
  }

  ul {

    li {
      list-style-type: none;
      font-family: 'Lato', sans-serif;

      a {
        color: #000;
      }
    }
  }
}

.header-copy {
  display: inline-block;
}


button {
  margin-top: 2%;
  margin-bottom: 1%;
  display: block;
  padding: 2%;
  background-color: #008CA8;
  border-radius: 10px;
  border: none;
  width: 100%;
  color: #fff;
  font-family: 'helvetica';
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px;
}

.fadedScroller_fade {
    content:'';
    margin-top: 0vh;
    height: 40px;
    background: linear-gradient(to bottom, rgba(251, 251, 251, 1) 0%, rgba(251, 251, 251, 0) 100%);
    position: relative;
}

#message-box {
  height: 90vh;
  overflow: scroll;
  position: relative;

  #message-container {
    padding-top: 1%;
    padding-bottom: 1%;

    li {
      width: 100%;
      // background-color: #ecf0f1;
      display: block;
      margin: 0 auto;
      padding: 2%;
      border-bottom: 1px solid rgba(251, 79, 20, .4);
      margin-bottom: 3%;

      p {
        font-family: 'Merriweather';
        font-size: 1.25em;
        line-height: 3em;
        margin-top: -5px;
        // color: #008CA8;
      }
    }
  }

  &.faded {
    opacity: .5;
  }
}

.form-container {
  z-index: 999;
  background: #fff;
  overflow: hidden;
  position: absolute;
  top: -250px;
  border: 2px solid #000;
  height: 230px;
  opacity: 0;
  -webkit-transition: top .25s ease-out, opacity .25s ease-out;
  -moz-transition: top .25s ease-out, opacity .25s ease-out;
  -o-transition: top .25s ease-out, opacity .25s ease-out;
  transition: top .25s ease-out, opacity .25s ease-out;

  &.active {
    opacity: 1;
    top: 80px;
  }
}

#submit-btn {
  text-align: center;
  font-size: 2em;
  font-family: "Lato", sans-serif;
  padding-top: 4%;
  color: #000;
  cursor: pointer;
}

.message-form {
  padding-top: 5%;
  // padding-bottom: 1%;
  overflow: hidden;
}

.timestamp {
  opacity: .7;
}
