<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="app-body">
  <header class="hero-unit {{this.team}}" id="banner">
    <!-- <div class="container"> -->
      <h3 class="header-copy">{{this.city}} {{this.team}} Talk</h3>
      <button id="message-button" type="button" name="button" ng-click="revealForm()"><span class="plus-icon">+</span></button>
    <!-- </div> -->
  </header>

  <div class="form-container col-md-6 col-md-offset-3">
    <form class="message-form">
        <textarea id="message-editor" class="col-md-offset-1 col-md-10 col-lg-10 col-sm-10" placeholder="Add a new message here." ng-model="newMessage"></textarea>
        <a type="submit" id="submit-btn" class="col-md-12 col-lg-12 col-sm-12 {{this.team}}" ng-click="addMessage()">SEND</a>
    </form>
  </div>

    <div id="subnav" class="{{this.team}} col-md-2 col-lg-2 col-sm-2">
      <div class="teamsList" ng-controller="TeamCtrl">
        <ul ng-repeat="team in this.allTeams">
          <li><a href="/team/{{team.teamId}}">{{team.name}}</a></li>
        </ul>
      </div>
    </div>

    <div id="message-box" class="col-md-10 col-lg-10 col-sm-10">

      <ul id="message-container" ng-init="startAtBottom()">
        <li class="message-item" ng-repeat="message in this.localMessages">
          <p>{{message.message}}</p>
          <span class="timestamp" am-time-ago="message.time"></span>
        </li>
      </ul>
    </div>
    <div class="fadedScroller_fade"></div>


  <!-- <footer class="footer">

  </footer> -->
</div>
