<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="app-body">
  <header class="hero-unit" id="banner">
    <div class="container">
      <h3 class="header-copy">{{this.city}} {{this.team}} Talk</h3>
    </div>
  </header>

  <div class="container message-box">
    <div>
      <ul class="message-container col-md-8 col-lg-12 col-sm-12" ng-repeat="message in this.localMessages">
        <li>
          <p>{{message.message}}</p>
          <span class="timestamp" am-time-ago="message.time"></span>
        </li>
      </ul>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <form class="message-form">

          <input type="text" id="message-editor" class="col-md-8 col-lg-12 col-sm-12" placeholder="Add a new message here." ng-model="newMessage">

            <button type="submit" class="col-md-8 col-lg-12 col-sm-12" ng-click="addMessage()">SEND</button>

      </form>
    </div>
  </footer>
</div>
