.thing-form {
    margin: 20px 0;
}

#banner {
  box-shadow: 0 0 10px 10px #ffffff;
  background: #fff;
  z-index: 9999;
  position: relative;;
  top: 0;
  width: 100%;
  display: block;
  text-align: left;

  #logo {
    display: inline-block;
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: .5px;
    cursor: pointer;
  }

  .header-copy {
    display: inline-block;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-align: right;
    margin-bottom: 20px;
    font-weight: 100;
  }

  #message-button {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    // width: 100%;
    height: 100%;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    background: #fff;
    letter-spacing: 0;
    z-index: 99999999999999999;
    margin-top: 20px;
  }

  .plus-icon {
    display: block;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    // color: #FB4F14;

    &.active {
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

#loading-screen {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  position: absolute;
  z-index: 9999999;
  background-color: #fff;

  .loading-assets {
      margin-top: 15%;

    p {
      font-size: 4em;
      font-family: 'Roboto Slab', sans-serif;
      letter-spacing: .5px;
      color: #000;
      display: block;
      text-align: center;
      z-index: 999999999999;
    }

    #loading-icon {
      height: 100px;
      width: 100px;
      z-index: 999999999999;
      display: block;
      margin: 0 auto;
      -webkit-animation:spin 2s ease-out infinite;
      -moz-animation:spin 2s ease-out infinite;
      animation:spin 2s ease-out infinite;

      @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
      @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
      @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    }
  }
}

.hero-unit {
    // position: relative;
    color: #000;
    text-align: center;
    // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#teams-list {
  list-style-type: none;

  li {
    margin-bottom: 20px;

    &:hover .team-logo {
        transform: translateY(-5px);
    }

    a {
      text-decoration: none;
    }

    .team-logo {
      width: 100px;
      height: 100px;
      display: block;
      margin: 0 auto;
      transition: .2s ease-out;
    }

    .home-team-name {
      color: #000;
      text-align: center;
      font-weight: 300;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 1px;
      text-decoration: none;
    }
  }
}

.footer {
    max-height: 10vh;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}

// team styles
.Bengals  {

  &.hero-unit  {
    // border-bottom: 1px solid #FB4F14;
    color: #FB4F14;
  }

  &#submit-btn {

    &:hover {
      color: 2px solid #FB4F14;
    }
  }

  &#message-button {
    border: 2px solid #FB4F14;
  }

  &.message-item {
    border-bottom: 1px solid rgba(251, 79, 20, .5);
  }

  &.plus-icon {
    color: #FB4F14;
  }
}

.Ravens  {

  &.hero-unit  {
    color: #241773;
  }

  &#submit-btn {

    &:hover {
      color: #241773;
    }
  }

  &#message-button {
    border: 2px solid #241773;
  }

  &.message-item {
    border-bottom: 1px solid rgba(36, 23, 115, .5);
  }

  &.plus-icon {
    color: #241773;
  }
}

.Browns  {

  &.hero-unit  {
    color: #FB4F14;
  }

  &#submit-btn {

    &:hover {
      color: #FB4F14;
    }
  }

  &#message-button {
    border: 2px solid #FB4F14;
  }

  &.message-item {
    border-bottom: 1px solid rgba(251, 71, 20, .5);
  }

  &.plus-icon {
    color: #FB4F14;
  }
}

.Bears  {

  &.hero-unit  {
    color: #0B162A;
  }

  &#submit-btn {

    &:hover {
      color: #0B162A;
    }
  }

  &#message-button {
    border: 2px solid #0B162A;
  }

  &.message-item {
    border-bottom: 1px solid rgba(11, 22, 42, .5);
  }

  &.plus-icon {
    color: #0B162A;
  }
}

.Steelers  {

  &.hero-unit  {
    color: #FFB612;
  }

  &#submit-btn {

    &:hover {
      color: #FFB612;
    }
  }

  &#message-button {
    border: 2px solid #FFB612;
  }

  &.message-item {
    border-bottom: 1px solid rgba(255, 182, 18, .5);
  }

  &.plus-icon {
    color: #FFB612;
  }
}

.Lions  {

  &.hero-unit  {
    color: #005A8B;
  }

  &#submit-btn {

    &:hover {
      color: #005A8B;
    }
  }

  &#message-button {
    border: 2px solid #005A8B;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 90, 139, .5);
  }

  &.plus-icon {
    color: #005A8B;
  }
}

.Packers  {

  &.hero-unit  {
    color: #203731;
  }

  &#submit-btn {

    &:hover {
      color: #203731;
    }
  }

  &#message-button {
    border: 2px solid #203731;
  }

  &.message-item {
    border-bottom: 1px solid rgba(32, 55, 49, .5);
  }

  &.plus-icon {
    color: #203731;
  }
}

.Vikings  {

  &.hero-unit  {
    background: #4F2683;
    color: #4F2683;
  }

  &#submit-btn {

    &:hover {
      color: #4F2683;
    }
  }

  &#message-button {
    border: 2px solid #4F2683;
  }

  &.message-item {
    border-bottom: 1px solid rgba(79, 38, 131, .5);
  }

  &.plus-icon {
    color: #4F2683;
  }
}

.Texans  {

  &.hero-unit  {
    color: #A71930;
  }

  &#submit-btn {

    &:hover {
      color: #A71930;
    }
  }

  &#message-button {
    border: 2px solid #A71930;
  }

  &.message-item {
    border-bottom: 1px solid rgba(167, 25, 48, .5);
  }

  &.plus-icon {
    color: #A71930;
  }
}

.Colts  {

  &.hero-unit  {
    color: #002C5F;
  }

  &#submit-btn {

    &:hover {
      color: #002C5F;
    }
  }

  &#message-button {
    border: 2px solid #002C5F;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 44, 95, .5);
  }

  &.plus-icon {
    color: #002C5F;
  }
}

.Jaguars  {

  &.hero-unit  {
    color: #006778;
  }

  &#submit-btn {

    &:hover {
      color: #006778;
    }
  }

  &#message-button {
    border: 2px solid #006778;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 103, 120, .5);
  }

  &.plus-icon {
    color: #006778;
  }
}

.Titans  {

  &.hero-unit  {
    color: #4B92DB;
  }

  &#submit-btn {

    &:hover {
      color: #4B92DB;
    }
  }

  &#message-button {
    border: 2px solid #4B92DB;
  }

  &.message-item {
    border-bottom: 1px solid rgba(75, 146, 219, .5);
  }

  &.plus-icon {
    color: #4B92DB;
  }
}

.Falcons  {

  &.hero-unit  {
    color: #A71930;
  }

  &#submit-btn {

    &:hover {
      color: #A71930;
    }
  }

  &#message-button {
    border: 2px solid #A71930;
  }

  &.message-item {
    border-bottom: 1px solid rgba(167, 45, 28, .5);
  }

  &.plus-icon {
    color: #A71930;
  }
}

.Panthers  {

  &.hero-unit  {
    color: #0085CA;
  }

  &#submit-btn {

    &:hover {
      color: #0085CA;
    }
  }

  &#message-button {
    border: 2px solid #0085CA;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 133, 202, .5);
  }

  &.plus-icon {
    color: #0085CA;
  }
}

.Saints  {

  &.hero-unit  {
    color: #9F8958;
  }

  &#submit-btn {

    &:hover {
      color: #9F8958;
    }
  }

  &#message-button {
    border: 2px solid #9F8958;
  }

  &.message-item {
    border-bottom: 1px solid rgba(159, 137, 88, .5);
  }

  &.plus-icon {
    color: #9F8958;
  }
}

.Bucs  {

  &.hero-unit  {
    color: #D50A0A;
  }

  &#submit-btn {

    &:hover {
      color: #D50A0A;
    }
  }

  &#message-button {
    border: 2px solid #D50A0A;
  }

  &.message-item {
    border-bottom: 1px solid rgba(213, 10, 10, .5);
  }

  &.plus-icon {
    color: #D50A0A;
  }
}

.Bills  {

  &.hero-unit  {
    color: #00338D;
  }

  &#submit-btn {

    &:hover {
      color: #00338D;
    }
  }

  &#message-button {
    border: 2px solid #00338D;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 51, 141, .5);
  }

  &.plus-icon {
    color: #00338D;
  }
}

.Dolphins  {

  &.hero-unit  {
    color: #008E97;
  }

  &#submit-btn {

    &:hover {
      color: #008E97;
    }
  }

  &#message-button {
    border: 2px solid #008E97;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 142, 151, .5);
  }

  &.plus-icon {
    color: #008E97;
  }
}

.Patriots  {

  &.hero-unit  {
    color: #002244;
  }

  &#submit-btn {

    &:hover {
      color: #002244;
    }
  }

  &#message-button {
    border: 2px solid #002244;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 34, 68, .5);
  }

  &.plus-icon {
    color: #002244;
  }
}

.Jets  {

  &.hero-unit  {
    color: #203731;
  }

  &#submit-btn {

    &:hover {
      color: #203731;
    }
  }

  &#message-button {
    border: 2px solid #203731;
  }

  &.message-item {
    border-bottom: 1px solid rgba(159, 137, 88, .5);
  }

  &.plus-icon {
    color: #203731;
  }
}

.Cowboys  {

  &.hero-unit  {
    color: #002244;
  }

  &#submit-btn {

    &:hover {
      color: #002244;
    }
  }

  &#message-button {
    border: 2px solid #002244;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 34, 68, .5);
  }

  &.plus-icon {
    color: #002244;
  }
}

.Giants  {

  &.hero-unit  {
    color: #0B2265;
  }

  &#submit-btn {

    &:hover {
      color: #0B2265;
    }
  }

  &#message-button {
    border: 2px solid #0B2265;
  }

  &.message-item {
    border-bottom: 1px solid rgba(11, 34, 101, .5);
  }

  &.plus-icon {
    color: #0B2265;
  }
}

.Eagles  {

  &.hero-unit  {
    color: #004953;
  }

  &#submit-btn {

    &:hover {
      color: #004953;
    }
  }

  &#message-button {
    border: 2px solid #004953;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 73, 83, .5);
  }

  &.plus-icon {
    color: #004953;
  }
}

.Redskins  {

  &.hero-unit  {
    color: #773141;
  }

  &#submit-btn {

    &:hover {
      color: #773141;
    }
  }

  &#message-button {
    border: 2px solid #773141;
  }

  &.message-item {
    border-bottom: 1px solid rgba(119, 49, 65, .5);
  }

  &.plus-icon {
    color: #773141;
  }
}

.Broncos  {

  &.hero-unit  {
    color: #FB4F14;
  }

  &#submit-btn {

    &:hover {
      color: #FB4F14;
    }
  }

  &#message-button {
    border: 2px solid #FB4F14;
  }

  &.message-item {
    border-bottom: 1px solid rgba(251, 79, 20, .5);
  }

  &.plus-icon {
    color: #FB4F14;
  }
}

.Chiefs  {

  &.hero-unit  {
    color: #E31837;
  }

  &#submit-btn {

    &:hover {
      color: #E31837;
    }
  }

  &#message-button {
    border: 2px solid #E31837;
  }

  &.message-item {
    border-bottom: 1px solid rgba(227, 24, 55, .5);
  }

  &.plus-icon {
    color: #E31837;
  }
}

.Raiders  {

  &.hero-unit  {color: #000;
  }

  &#submit-btn {  &:hover {
      color: #A5ACAF;
    }
  }

  &#message-button {
    border: 2px solid #A5ACAF;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
  }

  &.plus-icon {
    color: #000;
  }
}

.Chargers  {

  &.hero-unit  {
    color: #0073CF;
  }

  &#submit-btn {

    &:hover {
      color: #0073CF;
    }
  }

  &#message-button {
    border: 2px solid #0073CF;
  }

  &.message-item {
    border-bottom: 1px solid rgba(0, 115, 207, .5);
  }

  &.plus-icon {
    color: #0073CF;
  }
}

.Cardinals  {

  &.hero-unit  {
    color: #97233F;
  }

  &#submit-btn {

    &:hover {
      color: #97233F;
    }
  }

  &#message-button {
    border: 2px solid #97233F;
  }

  &.message-item {
    border-bottom: 1px solid rgba(151, 35, 63, .5);
  }

  &.plus-icon {
    color: #97233F;
  }
}

.Niners  {

  &.hero-unit  {
    color: #AA0000;
  }

  &#submit-btn {

    &:hover {
      color: #AA0000;
    }
  }

  &#message-button {
    border: 2px solid #AA0000;
  }

  &.message-item {
    border-bottom: 1px solid rgba(170, 0, 0, .5);
  }

  &.plus-icon {
    color: #AA0000;
  }
}

.Seahawks  {

  &.hero-unit  {
    color: #69BE28;
  }

  &#submit-btn {

    &:hover {
      color: #69BE28;
    }
  }

  &#message-button {
    border: 2px solid #69BE28;
  }

  &.message-item {
    border-bottom: 1px solid rgba(105, 190, 40, .5);
  }

  &.plus-icon {
    color: #69BE28;
  }
}

.Rams  {

  &.hero-unit  {
    color: #B3995D;
  }

  &#submit-btn {

    &:hover {
      color: #B3995D;
    }
  }

  &#message-button {
    border: 2px solid #B3995D;
  }

  &.message-item {
    border-bottom: 1px solid rgba(179, 153, 93, .5);
  }

  &.plus-icon {
    color: #B3995D;
  }
}

@media (max-width: 992px) {
  #message-button {
    border-radius: 0px !important;
  }

  .header-copy {
    margin: 0 !important;
  }

  #banner {
    margin-bottom: 20px;
  }
}
