.thing-form {
    margin: 20px 0;
}

#banner {
  max-height: 10vh;
  box-shadow: 0 0 10px 10px #ffffff;
  background: #fff;
  z-index: 9999;

  #logo {
    display: inline-block;

  }

  .header-copy {
    display: inline-block;
    font-size: 2.25em;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    text-align: right;
    margin-bottom: 20px;
  }

  #message-button {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #FB4F14;
    border-radius: 500px;
    background: #fff;
    margin: 0;
    padding: 0;
    color: #fff;
    letter-spacing: 0;
    // font-size: 2em;
    margin-left: 10%;
    margin-top: 3%;
    z-index: 99999999999999999;
    position: fixed;
  }

  .plus-icon {
    display: inline-block;
    -moz-transition: all .25s ease;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    color: #FB4F14;

    &.active {
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

#loading-screen {
  height: 100vh;
  width: 100vw;
  display: inline-block;
  position: absolute;
  z-index: 9999999;
  background-color: #fff;

  p {
    font-size: 4em;
    color: chartreuse;
    display: block;
    text-align: center;
    // margin-top: 25%;
    z-index: 999999999999;
  }

  #loading-icon {
    height: 100px;
    width: 100px;
    margin-top: 25%;
    z-index: 999999999999;
    display: block;
    margin: 0 auto;
  }
}

.hero-unit {
    position: relative;
    color: #000;
    text-align: center;
    // text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.team-logo {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
    max-height: 10vh;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #E5E5E5;
}

.navbar-text {
  margin-left: 15px;
}

// team styles
.Bengals  {

  &.hero-unit  {
    // background: #fff;
    border-bottom: 2px solid #FB4F14;
    color: #FB4F14;
  }

  &#submit-btn {

    &:hover {
      color: #FB4F14;
    }
  }
}

.Ravens  {

  &.hero-unit  {
    background: #fff;
    border-bottom: 2px solid #241773;
    color: #241773;
  }

  &#submit-btn {

    &:hover {
      color: #9E7C0C;
    }
  }
}

.Browns  {

  &.hero-unit  {
    background: #A5ACAF;
    color: #FB4F14;
  }

  &#submit-btn {

    &:hover {
      color: #FB4F14;
    }
  }
}

.Bears  {

  &.hero-unit  {
    background: #0B162A;
    color: #C83803;
  }

  &#submit-btn {

    &:hover {
      color: #C83803;
    }
  }
}

.Steelers  {

  &.hero-unit  {
    background: #FFB612;
    color: #000;
  }

  &#submit-btn {

    &:hover {
      color: #000;
    }
  }
}

.Lions  {

  &.hero-unit  {
    background: #B0B7BC;
    color: #005A8B;
  }

  &#submit-btn {

    &:hover {
      color: #005A8B;
    }
  }
}

.Packers  {

  &.hero-unit  {
    background: #203731;
    color: #FFB612;
  }

  &#submit-btn {

    &:hover {
      color: #FFB612;
    }
  }
}

.Vikings  {

  &.hero-unit  {
    background: #4F2683;
    color: #FFC62F;
  }

  &#submit-btn {

    &:hover {
      color: #FFC62F;
    }
  }
}

.Texans  {

  &.hero-unit  {
    background: #A71930;
    color: #03202F;
  }

  &#submit-btn {

    &:hover {
      color: #03202F;
    }
  }
}

.Colts  {

  &.hero-unit  {
    background: #A5ACAF;
    color: #002C5F;
  }

  &#submit-btn {

    &:hover {
      color: #002C5F;
    }
  }
}

.Jaguars  {

  &.hero-unit  {
    background: #006778;
    color: #D7A22A;
  }

  &#submit-btn {

    &:hover {
      color: #D7A22A;
    }
  }
}

.Titans  {

  &.hero-unit  {
    background: #4B92DB;
    color: #002244;
  }

  &#submit-btn {

    &:hover {
      color: #002244;
    }
  }
}

.Falcons  {

  &.hero-unit  {
    background: #A71930;
    color: #000000;
  }

  &#submit-btn {

    &:hover {
      color: #000000;
    }
  }
}

.Panthers  {

  &.hero-unit  {
    background: #fff;
    border-bottom: 2px solid #0085CA;
    color: #0085CA;
  }

  &#submit-btn {

    &:hover {
      color: #000000;
    }
  }
}

.Saints  {

  &.hero-unit  {
    background: #9F8958;
    color: #000000;
  }

  &#submit-btn {

    &:hover {
      color: #000000;
    }
  }
}

.Bucs  {

  &.hero-unit  {
    background: #D50A0A;
    color: #34302B;
  }

  &#submit-btn {

    &:hover {
      color: #34302B;
    }
  }
}

.Bills  {

  &.hero-unit  {
    background: #00338D;
    color: #C60C30;
  }

  &#submit-btn {

    &:hover {
      color: #C60C30;
    }
  }
}

.Dolphins  {

  &.hero-unit  {
    background: #008E97;
    color: #F58220;
  }

  &#submit-btn {

    &:hover {
      color: #F58220;
    }
  }
}

.Patriots  {

  &.hero-unit  {
    background: #002244;
    color: #C60C30;
  }

  &#submit-btn {

    &:hover {
      color: #C60C30;
    }
  }
}

.Jets  {

  &.hero-unit  {
    background: #203731;
    color: #fff;
  }

  &#submit-btn {

    &:hover {
      color: #fff;
    }
  }
}

.Cowboys  {

  &.hero-unit  {
    background: #002244;
    color: #B0B7BC;
  }

  &#submit-btn {

    &:hover {
      color: #B0B7BC;
    }
  }
}

.Giants  {

  &.hero-unit  {
    background: #0B2265;
    color: #A5ACAF;
  }

  &#submit-btn {

    &:hover {
      color: #A5ACAF;
    }
  }
}

.Eagles  {

  &.hero-unit  {
    background: #004953;
    color: #A5ACAF;
  }

  &#submit-btn {

    &:hover {
      color: #A5ACAF;
    }
  }
}

.Redskins  {

  &.hero-unit  {
    background: #FFB612;
    color: #5B2B2F;
  }

  &#submit-btn {

    &:hover {
      color: #5B2B2F;
    }
  }
}

.Broncos  {

  &.hero-unit  {
    background: #FB4F14;
    color: #fff;
  }

  &#submit-btn {

    &:hover {
      color: #fff;
    }
  }
}

.Chiefs  {

  &.hero-unit  {
    background: #E31837;
    color: #000;
  }

  &#submit-btn {

    &:hover {
      color: #000;
    }
  }
}

.Raiders  {

  &.hero-unit  {
    background: #000;
    color: #A5ACAF;
  }

  &#submit-btn {  &:hover {
      color: #A5ACAF;
    }
  }
}

.Chargers  {

  &.hero-unit  {
    background: #FFB612;
    color: #0073CF;
  }

  &#submit-btn {

    &:hover {
      color: #0073CF;
    }
  }
}

.Cardinals  {

  &.hero-unit  {
    background: #97233F;
    color: #000;
  }

  &#submit-btn {

    &:hover {
      color: #000;
    }
  }
}

.Niners  {

  &.hero-unit  {
    background: #AA0000;
    color: #000;
  }

  &#submit-btn {

    &:hover {
      color: #000;
    }
  }
}

.Seahawks  {

  &.hero-unit  {
    background: #69BE28;
    color: #002244;
  }

  &#submit-btn {

    &:hover {
      color: #002244;
    }
  }
}

.Rams  {

  &.hero-unit  {
    background: #B3995D;
    color: #002244;
  }

  &#submit-btn {

    &:hover {
      color: #002244;
    }
  }
}
